In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
results = pd.read_csv("survey_results_public.csv",index_col="ResponseId")
resultsSchema=pd.read_csv("survey_results_schema.csv")

In [3]:
results.head(5)

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [4]:
languages= "LanguageHaveWorkedWith"
salary="ConvertedCompYearly"

results.rename(columns={languages:"Languages",salary:"Salary"},inplace=True)
results.dropna(subset=["Salary","Languages"],inplace=True)

results=results.loc[:,["Country","Salary","Languages"]].sort_values(by="Salary")

filtro= (results["Salary"]>=10000)&(results["Salary"]<3e6)
results=results[filtro]

In [5]:
lg= results["Languages"]
allLanguages=lg[21403].split(";")

for row in lg:
    for lang in row.split(";"):
        allLanguages.append(lang)

allLanguages=list(set(allLanguages))
allLanguages.sort()
allLanguages  

meanSalary=pd.DataFrame(data = np.zeros(len(allLanguages)),index=allLanguages, columns=["Salary"])
meanSalary

             Salary
APL             0.0
Assembly        0.0
Bash/Shell      0.0
C               0.0
C#              0.0
C++             0.0
COBOL           0.0
Clojure         0.0
Crystal         0.0
Dart            0.0
Delphi          0.0
Elixir          0.0
Erlang          0.0
F#              0.0
Go              0.0
Groovy          0.0
HTML/CSS        0.0
Haskell         0.0
Java            0.0
JavaScript      0.0
Julia           0.0
Kotlin          0.0
LISP            0.0
Matlab          0.0
Node.js         0.0
Objective-C     0.0
PHP             0.0
Perl            0.0
PowerShell      0.0
Python          0.0
R               0.0
Ruby            0.0
Rust            0.0
SQL             0.0
Scala           0.0
Swift           0.0
TypeScript      0.0
VBA             0.0

In [6]:
import re
for lang in allLanguages:
    try:
        mask=results["Languages"].str.contains(re.escape(lang))
        average= results.loc[mask,"Salary"].mean()
        meanSalary.loc[lang,"Salary"]=average
    except Exception:
        print(lang)
meanSalary

                    Salary
APL          147330.880597
Assembly     111985.221695
Bash/Shell   116535.586659
C            100750.641756
C#            98953.326001
C++          104139.577648
COBOL        134686.328502
Clojure      149861.223496
Crystal      125361.105023
Dart          80742.929093
Delphi        77759.257592
Elixir       129942.022587
Erlang       132206.755906
F#           135618.123711
Go           125236.591514
Groovy       116814.538737
HTML/CSS      97836.415102
Haskell      109752.014993
Java          99128.252151
JavaScript    98625.065375
Julia        131770.738149
Kotlin       101356.790222
LISP         130563.076132
Matlab        91592.848802
Node.js       99154.184918
Objective-C  114108.942642
PHP           80123.677824
Perl         123808.308736
PowerShell   113160.929872
Python       107379.759591
R            122146.955647
Ruby         123812.998920
Rust         135460.316986
SQL           99960.165258
Scala        138582.538462
Swift        109284.740972
TypeScript   104524.593914
VBA           93616.800297

In [7]:
colors=[
    "#03071E",
    "#370617",
    "#6A040F",
    "#9D0208",
    "#D00000",
    "#E85D04",
    "#F48C06",
    "#FAA307",
    "#FFBA08"
]

fontdict= {
    'family':'serif',
    'color':'darkred',
    'weight':'normal',
    'size':16,
}

In [12]:
%matplotlib qt5

plt.style.use("seaborn")
meanSalary.sort_values(by="Salary",inplace=True)
plt.barh(meanSalary.index,meanSalary["Salary"],color=colors)
plt.vlines(meanSalary["Salary"].mean(),0,len(meanSalary["Salary"]),colors="red",linestyles="dashed",label="Minsalary")
plt.title("Programming Languages Yearly Compensation")
plt.xlabel("Mean Salary in $")
plt.ylabel("Programming Languages")

plt.gca().xaxis.set_major_formatter('${x:1.0f}')
plt.legend()
plt.tight_layout()
plt.show()